@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

.margin-padding-null {
  margin: 0;
  padding: 0;
}

.main {
  color: #0A0A0A;
}

.main ul {
  padding: 0;
}

.main a {
  text-decoration: none;
}

.main a:hover {
  border-bottom: 1px solid #0A0A0A;
  background-color: #C6F572;
  transition: 0.3s ease-in-out;
}

.main button {
  outline: none;
  border: none;
}

.roboto-text {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 12px calc(50% - 540px);
}

.header__wrapper {
  height: 70px;
  background-color: #FAFAFA;
  border-radius: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 32px;
}

.header__left {
  display: flex;
  gap: 32px;
}

.header__left > li {
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
}

.header__left > li > a {
  color: #0A0A0A;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  background-color: #0A0A0A;
  color: #FAF9F7;
  text-transform: uppercase;
  border-radius: 32px;
  font-size: 12px;
  line-height: 14px;
}

.header .header__right:hover {
  border-bottom: none;
  background-color: #C6F572;
  color: #0A0A0A;
  transition: 0.8s ease-in-out;
}

.description {
  padding: 66px calc(50% - 540px) 136px;
}

.description__img {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
}

.description__heading {
  font-size: 140px;
  line-height: 113%;
  font-weight: 400;
  letter-spacing: 0em;
  padding-bottom: 57px;
}

.description__content p {
  font-size: 18px;
  line-height: 150%;
  max-width: 453px;
  margin: 0 0 47px;
}

.description__content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 46px;
  background-color: #C6F572;
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 12px;
  line-height: 14px;
}

.description__content a:hover {
  border-bottom: none;
  background-color: #0A0A0A;
  color: #FAF9F7;
  transition: 0.8s ease-in-out;
}

.answers__quote {
  background-color: #0A0A0A;
  padding: 119px calc(50% - 540px) 95px;
  text-align: center;
}

.answers__quote-text {
  margin: 0 0 33px;
  color: #FAF9F7;
  font-size: 30px;
  line-height: 120%;
}

.answers__quote-author {
  margin: 0;
  color: #504F4F;
  font-size: 11px;
  line-height: 16px;
}

.answers__desc {
  display: flex;
  /* padding: 0; */
  min-height: 800px;
}

.answers__desc-img {
  padding: 250px 60px 0;
}

.answers__desc-about {
  padding-left: 60px;
  padding-left: calc(19% - 175px);
  padding-right: 70px;
  padding-right: calc(19% - 167px);
  min-height: 100%;
  min-width: 30%;
  background-color: #FAF9F7;
  background-image: url(../img/answers/background_img.jpg);
  background-repeat: no-repeat;
  background-position: top 450px left 50px;
}

.answers__desc-heading {
  font-size: 48px;
  line-height: 100%;
  width: 350px;
  padding-top: 165px;
  margin-bottom: 90px;
}

.answers__desc-text-medium {
  font-size: 17px;
  line-height: 27px;
  width: 322px;
  margin-bottom: 46px;
}

.answers__desc-text-small {
  font-size: 12px;
  line-height: 16px;
  color: #504F4F;
  width: 350px;
}

.pricing__info {
  padding: 231px calc(50% - 540px) 254px;
  background-color: #FBF19B;
  text-align: center;
}

.pricing__info-heading {
  font-size: 57px;
  line-height: 112%;
  margin-bottom: 43px;
}

.pricing__info-text {
  max-width: 480px;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  text-align: left;
}

.pricing__quote {
  background-color: #D4F2F9;
  padding: 159px calc(50% - 540px) 95px;
  text-align: center;
}

.pricing__quote-text {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 120%;
}

.pricing__quote-author {
  font-size: 11px;
  line-height: 16px;
  color: #504F4F;
}

.benefits__desc {
  background-color: #0A0A0A;
}

.benefits__desc-title {
  font-size: 60px;
  line-height: 64px;
  color: #FAF9F7;
  max-width: 907px;
  display: inline-block;
  padding-left: 100px;
  padding-top: 190px;
  padding-bottom: 170px;
  padding-right: calc(50% - 450px);
  position: relative;
}

.benefits__desc-title::after {
  content: url(../img/benefits/benefits_icon.svg);
  position: absolute;
  top: 39%;
  right: 91px;
}

.benefits__desc-list {
  padding: 0 100px 96px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.benefits__desc-list-item {
  width: 308px;
  min-height: 480px;
  border-radius: 12px;
  padding: 129px 0 0 32px;
}

.pink {
  background-color: #F4D2DC;
}
.yellow {
  background-color: #FBF19B;
}
.green {
  background-color: #DBFAA8;
}

.benefits__desc-list-number {
  font-size: 13px;
  line-height: 14px;
  padding-bottom: 24px;
}

.benefits__desc-list-heading {
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 30px;
  max-width: 168px;
}

.benefits__desc-list-text {
  font-size: 14px;
  line-height: 22px;
  max-width: 239px;
}

.feedback {
  background-color: #0A0A0A;
  background-image: url(../img/feedback/feedback_bg.png);
  background-repeat: no-repeat;
  background-position: top 2px right 103px;
  padding: 240px 180px 96px;
}

.feedback__form {
  background-color: #FBF19B;
  min-height: 852px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding-left: 96px;
  padding-top: 90px;
}

.feedback__form-heading {
  font-size: 48px;
  line-height: 53px;
  max-width: 340px;
  padding-bottom: 28px;
}

.feedback__form-invitation {
  font-size: 16px;
  line-height: 24px;
  max-width: 434px;
  padding-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 100%;
  max-width: 480px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0A0A0A;
  padding-top: 57px;
  box-sizing: border-box;
}

.input-checkbox-text {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 36px;
}

#agree {
  height: 20px;
  width: 20px;
  display: none;
}

#agree:checked + span::before {
  content: "x";
}

.feedback__form-wrapper span::before {
  content: " ";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #0A0A0A;
  border-radius: 4px;
  top: 0px;
  margin-right: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 100%;
}

.form-button {
  width: 178px;
  height: 46px;
  background-color: #0A0A0A;
  border-radius: 40px;
  color:#FAF9F7;
  text-transform: uppercase;
}

.footer {
  background-color: #DBFAA8;
  padding: 102px 24px 25px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__social svg:not(:last-child) {
  margin-right: 12px;
}

.footer__social svg:hover {
  fill: #504F4F;
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

.footer hr {
  margin: 13px 0 10px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__info-site {
  font-size: 12px;
  line-height: 16px;
}

.footer__info-help {
  display: flex;
  gap: 12px;
}

.footer__info-help a {
  color: #0A0A0A;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
}
