@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

.main ul {
  padding: 0;
}

.main a {
  text-decoration: none;
}

.main a:hover {
  border-bottom: 1px solid #0A0A0A;
  background-color: #C6F572;
}

.main button {
  outline: none;
  border: none;
}

.header {
  padding: 12px 36px;
}

.header__wrapper {
  height: 70px;
  background-color: #FAFAFA;
  border-radius: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 32px;
}

.header__left {
  display: flex;
  gap: 32px;
}

.header__left > li {
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
}

.header__left > li > a {
  color: #0A0A0A;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  background-color: #0A0A0A;
  color: #FAF9F7;
  text-transform: uppercase;
  border-radius: 32px;
  font-size: 12px;
  line-height: 14px;
}

.header .header__right:hover {
  border-bottom: none;
  background-color: #C6F572;
  color: #0A0A0A;
}

